.headerName h1 {
  padding-top: 55px;
  color: black;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 0 0 3px #ff0000;
}

.headerName {
  height: 150px;
  border-radius: 0.4em;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.MenuBar {
  margin-top: 0px;
}
