.Production {
  padding-top: 20px;
}

.datePicker {
  text-align: right;
  margin-bottom: 50px;
}

.datePicker h4 span {
  margin: 10px;
}

h4 {
  margin: 10px;
}

.TableTime {
  margin: 20px;
  font-size: 0.9em;
}

.bodyProduction {
  margin: 20px;
}
